.story {
  height: 100vh;
  .body,
  .mask {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: var(--med-fs);

    cursor: default;

    p {
      width: 1000px;
      padding: 40px;
    }
  }

  .mask {
    mask-image: url("../../../../public/icons/mask.svg");
    mask-repeat: no-repeat;
    mask-size: 40px;
    background: #ec4e39;
    position: absolute;
    color: black;
  }
}
.project {
  padding: 1rem;
  max-width: 1000px;
  margin: 20vh auto;
  display: grid;
  grid-column-gap: 7vw;
  grid-row-gap: 0.5rem;
  &__intro {
    grid-template-columns: 1fr;
    grid-template-areas:
      "label-name"
      "name"
      "label-date"
      "date"
      "title"
      "label-mission"
      "mission";
  }

  & p {
    line-height: 1.4;
    margin: 0;
    color: var(--color-text-alt);
  }
  &_label {
    color: var(--light-gray);
    grid-column: 1/2;
  }

  &_mission {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--space-small);
  }

  &_title {
    grid-column: 1/3;
    grid-row: 1;
    line-height: 1;
    margin-bottom: var(--space-med);
    color: var(--main-red);
  }

  &_heading {
    color: var(--color-label);
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
  }
}
