.categories {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  .header {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .video_container {
      grid-column: 1/2;
      position: relative;
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .heading {
      grid-column: 2/3;
      background-color: var(--main-dark);
      height: 100%;
      color: var(--main-light);
      display: grid;
      grid-gap: var(--space-small);
      place-content: center;
      padding: var(--space-med);
      h1 {
        color: var(--main-yellow);
      }
    }
  }
  .gallery {
    margin: 0 auto;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: var(--space-small);
    grid-column-gap: 5px;
    width: var(--cont-w);
    .wrapper {
      overflow: hidden;
    }
    .image {
      overflow: hidden;
      width: 100%;
      height: calc((var(--cont-w) / 3) * 4 / 3);
    }
    .inner {
      width: 100%;
      height: 100%;
      position: relative;
      transition: 0.5s ease;
      transform-origin: bottom;
    }
    .text {
      text-align: center;
      margin-top: 5px;
      & > * {
        font-size: 16px;
      }
      b {
        font-weight: 500;
      }
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  li:hover .inner {
    transform: scale(1.02);
  }
}

@media all and (max-width: 1024px) and (orientation: portrait) {
  .categories {
    .header {
      position: relative;
      grid-column: 1/4;
      .video_container {
        grid-column: 1/3;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 0;
        video {
          height: 100%;
        }
      }
      .heading {
        position: relative;
        z-index: 1;
        grid-column: 1/3;
        padding: var(--space-med) var(--space-small);
        grid-row: 1;

        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }
}
@media all and (max-width: 760px) and (orientation: portrait) {
  .categories {
    .gallery {
      margin: 0;
      grid-template-columns: repeat(2, 1fr);

      .image {
        height: calc((100vw / 2 - 20px) * 4 / 3);
      }
    }
  }
}
@media all and (max-width: 1024px) and (orientation: landscape) {
  .image {
    height: calc((70vw / 2 - var(--space-small)) * 4 / 3);
  }
}
/* .heading {
    grid-column: 1/4;
    grid-row: 1;
    position: relative;
    margin-bottom: var(--space-small);
    background: var(--main-pink);
    overflow: hidden;
  }

  .markq {
    display: flex;
    align-items: center;
    height: 3.4rem;
    overflow: hidden;
  }

  .icon,
  h1 {
    font-size: 1.4rem;
    font-weight: var(--main-fw);
    margin-bottom: 0;
    line-height: 1.2;
  } */
