@font-face {
  font-family: "Maregraphe";
  src: url("MaregrapheDisplayRegular.woff2") format("woff2"),
    url("MaregrapheDisplayRegular.woff") format("woff"),
    url("MaregrapheDisplayRegular.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
